@import 'tailwindcss';

@theme {
  --color-brand-red: #3d030b;
  --color-brand-white: #f1eee7;
  --color-brand-black: #231f1f;
  --color-brand-cream: #f9f7f6;
  --color-brand-border: #ebe7e5;
  --color-brand-charcoal: #272727;

  --font-sans: var(--font-google-sans);
  --font-serif: var(--font-playfair);
  --font-body: var(--font-figtree);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

a,
button:not(:disabled),
[role='button'],
label:has(input:not(:disabled)) {
  cursor: pointer;
}
